/* Formas */

.boton {
	background-color: #FACC2E;
	padding: 20px;
	border-bottom: 6px solid #FE9A2E;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 100%;
}

.boton_a {
	color: #282828;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;	
}