header, footer {
	background-color: #282828;
	position: fixed;
	padding: 20px 0;
	box-sizing: border-box;		
	width: 100%;
}

header{
	top:0;
}

footer{
	bottom: 0;
}


header img {
 width: 350px;
 display: block;
}

nav ul li{
	display: inline;
	font-weight: 400;
}

footer, footer a{
	color: #FE9A2E;
}

.layout_a{
	color: #FACC2E;
}

