header, footer {
	background-color: #282828;
	position: absolute;
	width: 100%;		
}

header img {
 width: 350px;
 display: block;
}

nav ul li{
	color: #FFFFFF;
	display: inline;
	font-weight: 400;
}

footer, footer a{
	color: #FE9A2E;
}

footer{
	padding: 20px 0;
	box-sizing: border-box;
}